.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --font-inter: 'Inter', sans-serif;
    --font-lexendDeca:  'Lexend Deca', sans-serif;


    --color-primary-darkBlue:hsl(233, 47%, 7%);
    --color-primary-darkDesaturatedBlue:hsl(244, 38%, 16%);
    --color-accent-softViolet:hsl(277, 64%, 61%);

    --color-neutral-white:hsl(0, 0%, 100%);
    --color-neutral-transparentWhite-p:hsla(0, 0%, 100%, 0.75);
    --color-neutral-transparentWhite-h:hsla(0, 0%, 100%);


   


}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  
  background-color: var(--color-primary-darkBlue);
}
body p{
  font-size: 15px;
}

img{
 width: 100%;
}

.container{
  padding: 30rem 5rem;
}
.card{
  display: flex;
  align-items: center;
  border-radius:10px;
  max-width: 1000px;
  background-color: var(--color-primary-darkDesaturatedBlue);
}

.card__content{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2rem 3rem;
  flex: .8;



  
}

.card__content__info{}
.card__content__info h1{
  margin-bottom: 1em;
  font-weight: 700;
  color: var(--color-neutral-white);
}
.card__content__info span{
  color: var(--color-accent-softViolet);
}

.card__content__stats{
  display: flex;
  gap: 3em;
  margin-top: 2em;

}

.card__content__stats__values{
  display: flex;
  flex-direction: column;
  
}

.card__content__stats__values p:first-child{
  font-size: 1.2em;
}

.card__content__stats__values p:last-child , .card__content__info p{
color: var(--color-neutral-transparentWhite-p);
font-family: var(--font-lexendDeca);
font-weight: 400 ;
}

.card__content__stats__values p:first-child , .card__content__info h1{
  color: var(--color-neutral-transparentWhite-h);
  font-family: var(--font-inter);
  font-weight: 700;
  }
 

  .card__picture{

flex: 1;


  }
  .card__picture img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  @media only screen and (max-width: 600px) {
 
    .card {
        flex-direction: column-reverse;
    }

    .card__picture img{
      border-radius: 0;
      border-top-left-radius:10px ;
      border-top-right-radius:10px ;
    }
    
    }